.index-main
  .main-header
    .main-header__left
      %p.main-header__left__group
        #{@group.name}
      %p.main-header__left__name
        member:
        - @group.users.each do |user|
          #{user.name}

    .main-header__right
      = link_to 'edit', class:"btn" do
        %p.main-header__right__btn
          Edit 

  .messages
    = render @messages
    

  -# .form
  -#   = form_for [@group, @message] do |f|
  -#     -# = f.text_field :content, class: 'new__message', placeholder: 'type a message'
  -#   %form.new-message
  -#     .input-box
  -#       %input.input-box__text{placeholder: "type a message"}/
  -#       %label.input-box__image
  -#         %i.fa.fa-image
  -#         %input.input-box__image__file{type: "file"}
      
  -#     %input.submit-btn{"data-disable-with":"Send", name: "commit", type: "submit", value: "Send"}/

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'new-message', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit-btn'